<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>lolkekw</title>
        <link rel="stylesheet" href="styles.css" />
        <script src="../download.js"></script>
    </head>
    
    <body>
        <button class="download-btn" onclick="downloadFile()">Скачать DOCX</button> 
        <!-- <button>Скачать PDF (пока не работает)</button>  --> 
        
        <!--
        <script>
            function downloadFile() 
            {
            // Создаем временную ссылку
            const link = document.createElement('a');
            
            // Указываем путь к файлу (замените на ваш)
            link.href = 'test.docx'; // Имя файла крч
            
            // Добавляем атрибут download с именем файла
            link.download = 'lol.docx'; // Называть как угодно
            
            // Добавляем ссылку в DOM
            document.body.appendChild(link);
            
            // Эмулируем клик по ссылке
            link.click();
            
            // Удаляем ссылку из DOM
            document.body.removeChild(link);
            }
        </script>
        -->
    </body>
</html>
