<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel='stylesheet' href='settings-style.css'>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Официальный ГОСТ ТУСУР</title>
    </head>
    
    <body>
    <header>
        <a id="checker" href="sample.html">Checker GOST </a>
        <div id="header"> 
            <a class="header" href="sample.html">Главная</a>
            <a class="header" href="#">О нас</a>
            <a class="header" target="_blank" href="gostTUSUR.html">Официальный ГОСТ ТУСУР</a>
        </div>
       
    </header>
    <main>
        <iframe src="https://regulations.tusur.ru/system/document_files/files/000/000/094/original/OS_TUSUR_01-2021_%28soglasovano%29.pdf?1735368202" name="myframe" title="ГОСТ ТУСУР"></iframe>
    </main>
    <footer>
        
    </footer>   
</body>
</html>
<script src="button.js"></script>
