<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <script src="/js/auth-login-registration.js"></script>
    <script src="/js/auth-general.js"></script>
    <style>
        #message {
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
            display: none;
        }
        #message.show {
            display: block;
        }
        .success {
            background-color: #d4edda;
            color: #155724;
        }
        .error {
            background-color: #f8d7da;
            color: #721c24;
        }
    </style>
</head>
<body>
    <h1 id="main-header">Checker servis</h1>
    <form id="registrationForm">
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Зарегистрироваться" onclick="handleOfSubmitRegistrationButton(event)">
    </form>
    <div id="message"></div>
</body>
</html>
